@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Oooh+Baby&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Oooh Baby", cursive, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Oooh Baby", cursive, Arial, sans-serif;
}

button {
  font-family: "Inconsolata", 'Courier New', Courier, monospace;
  font-weight: bold;
  border: 1.5px solid black;
  padding: 0.6em 1.2em;
  background-color: #FF85EA;
  cursor: pointer;
  transition: box-shadow 0.5s;
  box-shadow: none;
}
button:hover {
  box-shadow: #4A2368 5px 5px;
}