/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
body {
  background-color: #EAE6E4;
  font-size: 14px;
}
.card1 {
  background-color: #FFFFFB;
  color: black;
  border: 1.5px solid black;
  box-shadow: #4A2368 20px 20px;
}

.sign {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -30px;
  margin-right: 20px;
}

.card2 {
  background-color: #FFFFFB;
  padding: 30px;
  color: black;
  border: 1.5px solid black;
  box-shadow: #4A2368 -20px 20px;
}

.insidee {
  min-width: 180px;
  border-radius: 14px;
  border: 1.5px solid black;
  padding: 20px;
}

.passport {
  border: 1.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  align-content: center;
}


/* footer */
.foot {
  font-family: "Inconsolata", 'Courier New', Courier, monospace;
  font-weight: bold;
}

.foot>p {
  margin-top: 20px;
}